


.comment {
	display: grid;
	grid-template-columns: 4rem 1fr;

	&:not(last-child) {
		margin-bottom: 2rem;
	}

	&__commenter-image {
		display: block;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
	}

    &__header {
        display: flex;
        align-items: center;
    }

	&__contents {
		background: var(--bg-light);
		padding: 0.5rem 1.2rem;
		display: inline-block;
		// min-width: 18rem;
		border-radius: .7rem;
		position: relative;
	}

	&__commenter-name {
		text-transform: capitalize;
        color: var(--black-color);
        font-weight: 500;
		font-size: 1.3rem;
        // font-family: 'Helvetica';
	}

	&__body {
		min-width: 5rem;
		margin-top: .5rem;
		font-size: 1.2rem;
	}

	&__actions {
		padding: 0 0.5rem;
		margin-top: 0.2rem;
		font-size: 1.3rem;
		display: flex;
		align-items: center;
        justify-items: flex-end;

        div {
            display: flex;
            align-items: center;
            margin-right: 1.5rem;
        }

        svg {
          font-size: 1.3rem;
          fill: var(--gray-color);
        }

        span {
            margin-left: .8rem;
        }
	}

    &__ago {
        font-size: 1.1rem;
    }

    &__replies {
        border-left: 1px solid var(--gray-color);
    }
}

.reply {
    display: grid;
    grid-template-columns: 3rem 1fr;
    border-radius: .7rem;
    column-gap: 1rem;
    padding-left: 1rem;

    figure {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__right {
        
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__replier-name {
        text-transform: capitalize;
        color: var(--black-color);
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    &__body {
        min-width: 5rem;
        margin-top: .2rem;
        font-size: 1.2rem;
    }
    
    &__footer {
        padding: 0 0.5rem;
        margin-top: 0.2rem;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-items: flex-end;
    
        div {
            display: flex;
            align-items: center;
            margin-right: 1.5rem;
        }
    
        svg {
          font-size: 1.3rem;
          fill: var(--gray-color);
        }
    
        span {
            margin-left: .8rem;
        }
    }

    &__ago {
        font-size: 1.1rem;
    }
}

