._friends {
	grid-column: 2/12;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 30rem 1fr;
	grid-gap: 2rem 2rem;
	padding-top: 2rem;
	
	&__list {
		background: rgba(white, .8);
	}
	
	&__list--me {
		grid-column: 1/7;
		grid-row: 1/-1;
	}
	
	&__list--requests {
		grid-column: 7/-1;
		grid-row: 1/2;
	}

	&__list--people {
		grid-column: 7/-1;
		grid-row: 2/-1;
	}

	&__header {
		height: 4rem;
		display: flex;
		align-items: center;
		padding: 0 1.5rem;
		border-bottom: 1px solid var(--light-3);

		svg {
			font-size: 1.4rem;
			margin-right: 1rem;
			color: var(--gray-color);
		}

		h4 {
			font-size: 1.4rem;
			font-weight: 500;
			font-family: var(--heading-font);

		}

		span {
			display: inline-block;
			margin-left: .5rem;
			color: var(--grey-2);
		}
	}

	&__body {
		padding: 1.5rem;
	}
}