$header-height: 6rem;

$primary-color: #1da1f3;
$black-color: #14181b;
$gray-color: #c5c5c7;
$white-color: #ffffff;
$bg-light: #f4f8fb;
$bg-light: #f4f5ff;
$dark-gray-color: #777;
$primary-color-light: #34a5e6;
$primary-color-light-2: #e5ebfb;
$grey-1: #444;
$black: #000;
$grey-2: #777;
$grey-3: #999;
$grey-4: rgb(85, 82, 82);
$light-1: #fff;
$light-2: #f7f8fa;
$light-3: #f0f1f5;
$light-4: #f1f1f1;
$transition: all 0.3s ease-in;