*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #fff; }

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Regular.ttf); }

@font-face {
  font-family: OpenSansBold;
  src: url(fonts/OpenSans-Bold.ttf); }

body {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 1.2rem;
  color: #111; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

@media (max-width: 1399px) {
  .container {
    width: 100%;
    padding: 0 1.5rem; } }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin: 0 auto; }

.lh-0 {
  line-height: 1; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
  padding: 0 1rem;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 2px 5px rgba(85, 73, 73, 0.2); }
  .navbar__left {
    display: flex;
    align-items: center; }
  .navbar__brand {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar__fb-logo {
    font-size: 3.35rem;
    color: #1877f2; }
  .navbar__search {
    display: flex;
    align-items: center;
    width: 35rem; }
  .navbar__search-input {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 3rem;
    display: block;
    width: 27rem;
    padding: .8rem 2rem;
    transition: all .3s ease-in;
    background-color: #f8f8f8; }
    .navbar__search-input:focus {
      outline: none;
      box-shadow: 0 2px 4px rgba(24, 119, 242, 0.4);
      width: 35rem; }
    .navbar__search-input::placeholder {
      color: #ccc; }
  .navbar__search-icon {
    color: #999;
    z-index: 10;
    font-size: 1.2rem;
    margin-left: -3rem; }
  .navbar__middle {
    display: flex;
    justify-content: center;
    font-size: inherit;
    align-self: stretch;
    height: 100%;
    width: 10rem; }
  .navbar__link {
    display: inline-block;
    text-decoration: none;
    color: #555252;
    font-size: 1.6rem; }
    .navbar__link--home, .navbar__link--users {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden; }
    .navbar__link--home {
      margin-right: .5rem; }
    .navbar__link--home::before, .navbar__link--users::before {
      content: '';
      height: .3rem;
      width: 100%;
      z-index: 10;
      background-color: #1877f2;
      position: absolute;
      bottom: 0;
      transform: translateX(-100%);
      transition: all .2s ease-in-out; }
    .navbar__link--home:hover.navbar__link::before, .navbar__link--users:hover.navbar__link::before {
      transform: translateX(0); }
    .navbar__link--home:hover .navbar__fa-home,
    .navbar__link--users:hover .navbar__fa-users {
      transform: scale(1.2); }
    .navbar__link--active {
      color: #1877f2; }
    .navbar__link:hover {
      color: #1877f2; }
    .navbar__link--active::before {
      transform: translateX(0); }
  .navbar__right {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .navbar__right > * {
    margin-left: 1.2rem; }
  .navbar__user {
    height: 100%;
    min-width: 10rem;
    display: flex;
    align-items: center; }
  .navbar__img {
    width: 3rem;
    display: block;
    height: 3rem;
    border-radius: 50%; }
  .navbar__fname {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: .7rem; }
  .navbar__right > a {
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f8f8f8;
    position: relative;
    color: #555252; }
  .navbar__right > a:hover {
    transform: scale(1.1); }
  .navbar__float-number {
    position: absolute;
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: rgba(250, 44, 44, 0.938);
    top: -1rem;
    right: 0;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; }

.fa-caret-down {
  position: relative; }

.list--active {
  flex-grow: 1; }

.list:not(last-child) {
  margin-bottom: 1rem; }

.list__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  z-index: 10; }
  .list__heading:hover {
    background-color: #f1f1f1; }

.list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.list__icon {
  font-size: 1.6rem;
  color: #1877f2; }

.list__title {
  font-size: 1.2rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
  margin-left: 1.2rem; }

.list__group {
  overflow: hidden; }
  .list__group--hide {
    height: 0 !important; }
  .list__group--active {
    padding: .5rem 0;
    height: auto !important; }

.list__body {
  padding-left: 2.2rem;
  width: 100%; }

.list__btn {
  margin-top: .5rem;
  display: block;
  width: 100%;
  padding: .6rem;
  color: #1877f2;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  cursor: pointer; }
  .list__btn:hover {
    background: #1877f2;
    color: #fff; }

.friend-item {
  text-decoration: none;
  display: flex;
  padding: .5rem .3rem;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem; }
  .friend-item__img-wrapper {
    position: relative; }
  .friend-item__active {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: green;
    border: 2px solid #f8f8f8; }
  .friend-item--active {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff; }
  .friend-item__img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: block; }
  .friend-item__name {
    font-size: 1.1rem;
    margin-right: auto;
    margin-left: 1rem; }
    .friend-item__name--dark {
      color: #777; }
    .friend-item__name--light {
      color: #ccc; }
    .friend-item__name--active {
      color: #fff; }
  .friend-item__subtitle {
    font-size: 1rem;
    margin-left: 1rem;
    color: #999; }
  .friend-item__btn {
    border: 1px solid #1877f2;
    color: #1877f2;
    padding: .4rem .6rem;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-left: 1rem; }
    .friend-item__btn:hover {
      background: #1877f2;
      color: #fff; }

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in; }
  .btn:not(:last-of-type) {
    margin-right: 1rem; }
  .btn:active {
    transform: scale(0.88); }
  .btn--circle {
    padding: .5rem 1rem;
    border-radius: 50%; }
  .btn--square {
    padding: .5rem 1rem;
    border-radius: 3px; }
  .btn--circle {
    padding: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .btn--blue {
    color: #1877f2;
    background-color: transparent;
    box-shadow: none;
    font-weight: 600; }
    .btn--blue:hover {
      color: #fff;
      background-color: #1877f2;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); }
  .btn--primary {
    color: #fff;
    background-image: linear-gradient(to bottom right, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9)); }
  .btn--secondary {
    color: #111;
    background: #fff; }
    .btn--secondary:hover {
      background: #f8f8f8; }
  .btn--white {
    color: #555252;
    background-color: #fff; }

.side-profile {
  padding: 1.5rem 4rem;
  text-align: center;
  z-index: 10;
  background: #f8f8f8;
  border-radius: 5px; }
  .side-profile__img {
    display: inline-block;
    height: 6rem;
    width: 6rem;
    border-radius: 50%; }
  .side-profile__name {
    font-size: 1.4rem;
    font-weight: 600; }
  .side-profile__bio {
    font-size: 1rem;
    color: #777; }

.introduction {
  padding: 2rem 1rem;
  max-width: 55rem;
  box-shadow: 0 2px 5px rgba(85, 73, 73, 0.2);
  border-radius: 3px;
  background-color: #f8f8f8;
  position: relative; }
  .introduction__user {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: content-box;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem; }
  .introduction__input {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-align: center;
    border: 1px solid transparent;
    background-color: #f8f8f8; }
    .introduction__input:focus {
      outline: none;
      border: 1px solid #f8f8f8;
      background-color: #fff; }
    .introduction__input::placeholder {
      color: #ccc; }
  .introduction__btns {
    display: flex;
    width: 50%;
    justify-content: end;
    position: absolute;
    bottom: -1.3rem;
    right: 1rem; }

.fa-paper-plane {
  transform: rotate(45deg); }

.post {
  box-shadow: 0 2px 5px rgba(85, 73, 73, 0.2);
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 5px; }
  .post:not(:last-of-type) {
    margin-bottom: 5rem; }
  .post__header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: .7rem .7rem; }
  .post__user-img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    display: block; }
  .post__name-date {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem; }
  .post__username {
    font-size: 1.3rem;
    font-weight: 600; }
  .post__date {
    font-size: 1.2rem;
    font-weight: 500; }
  .post-header__option {
    display: flex;
    align-items: center; }
  .post-header__dot {
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    background-color: #777;
    margin-left: .1rem; }
  .post__body {
    width: 100%;
    padding: .5rem 2rem;
    background-color: #f8f8f8; }
  .post__images {
    height: 23rem;
    position: relative;
    cursor: pointer;
    margin: 1rem auto; }
  .post__img-wrapper {
    height: 100%;
    position: absolute; }
  .post__image {
    display: block;
    height: 100%; }
  .post__img-wrapper--previous {
    left: 0;
    height: 85%;
    top: 50%;
    transform: translatey(-50%);
    opacity: .7;
    filter: blur(5px); }
  .post__img-wrapper--active {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 5; }
    .post__img-wrapper--active::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 3rem;
      height: 1rem;
      width: 70%;
      z-index: 200;
      background-image: radial-gradient(#1113, #fff1);
      transform: perspective(45deg); }
  .post__img-wrapper--next {
    right: 0;
    height: 85%;
    top: 50%;
    transform: translatey(-50%);
    opacity: .7;
    filter: blur(5px); }
  .post__title {
    text-transform: uppercase;
    font-family: OpenSansBold;
    font-weight: 800;
    color: #000;
    margin-top: 4rem;
    margin-bottom: 1rem; }
  .post__caption {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555252; }
  .post__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin: 1rem 0 0; }
  .post__reacts {
    display: flex;
    align-items: center; }
  .post__react {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: linear-gradient(to top left, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9));
    border: 2px solid #fff;
    box-sizing: content-box; }
    .post__react:not(:first-of-type) {
      margin-left: -.5rem; }
  .post__react-icon {
    color: #fff;
    font-size: .8rem; }
  .post__people-react {
    margin-right: auto;
    margin-left: 1rem;
    color: #999; }
  .post__comment-counts {
    color: #999; }
  .post__footer {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1.2rem;
    background-color: #f8f8f8; }
  .post__comment-form {
    flex: 1;
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-radius: 3rem;
    padding: .4rem; }
  .post__comment-input {
    flex: 1;
    padding: .8rem 1.2rem;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 3rem; }
    .post__comment-input:focus {
      outline: none;
      border: 1px solid #dfdfdf; }
  .post__comment-icon {
    padding: .6rem;
    color: #999; }
  .post__action {
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    border-radius: 50%;
    font-size: 1.2rem;
    border: none; }
    .post__action--share {
      color: #1877f2; }
    .post__action--like {
      background-image: linear-gradient(to top left, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9));
      color: #fff; }

.drop {
  position: absolute;
  top: 5.5rem;
  right: 0;
  width: 28rem;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000 !important;
  padding: 0 .5rem; }
  .drop__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .4rem 0;
    margin-bottom: 1rem; }
  .drop__heading {
    font-size: 1.4rem;
    color: #000; }
  .drop--notification {
    height: calc(100vh - 5.5rem);
    display: none; }

.notification {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: .8rem .4rem; }
  .notification__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: block;
    margin-right: 1rem; }
  .notification__details {
    flex: 1;
    line-height: 1.1rem; }
  .notification__text {
    font-size: 1.2rem;
    color: #777;
    letter-spacing: .3px; }
    .notification__text--unseen {
      color: #111;
      font-weight: 600; }
  .notification__time {
    margin-top: 0;
    font-size: 1rem;
    color: #555252;
    padding: 0; }
    .notification__time--unseen {
      color: #111;
      font-weight: 600; }
  .notification__unseen {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1877f2; }

.messenger {
  grid-column: 3/4;
  height: 100vh;
  position: sticky;
  top: 0;
  border-left: 1px solid #dfdfdf;
  background-image: linear-gradient(to top left, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9)); }
  .messenger__header {
    background-image: linear-gradient(to bottom right, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9));
    height: 5.5rem;
    width: 100%;
    box-shadow: 0 2px 5px rgba(85, 73, 73, 0.2);
    padding-left: 2rem;
    color: #fff;
    display: flex;
    align-items: center; }
  .messenger__heading {
    margin-left: 1rem; }
  .messenger__people {
    padding: 0 2rem; }
  .messenger__footer {
    background-image: linear-gradient(to top left, rgba(24, 119, 242, 0.9), rgba(52, 165, 230, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem auto; }
  .messenger__search-form {
    width: 90%;
    border-radius: 3rem;
    margin: 0 auto;
    background: #1877f2; }
  .messenger__search-label {
    flex: 0;
    color: #ccc;
    background: transparent;
    padding: .6rem .4rem .6rem .8rem; }
  .messenger__search {
    flex: 1;
    padding: .8rem .2rem;
    border: 1px solid transparent;
    background: transparent;
    color: #fff; }
    .messenger__search:focus {
      outline: none; }

.timeline {
  width: 80%;
  margin: 1rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.main-container {
  display: grid;
  grid-template-columns: 26rem 1fr 26rem;
  grid-template-rows: 5.5rem auto;
  position: relative; }

.header {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  grid-row: 1/2;
  grid-column: 1/3;
  background: #fff; }

.left-content {
  grid-column: 1/2;
  grid-row: 2/3;
  position: sticky;
  position: -webkit-sticky;
  top: 5.5rem;
  align-self: start;
  height: calc(100vh - 5.5rem);
  padding: .8rem;
  border-right: 2px solid #f1f1f1;
  display: flex;
  flex-direction: column; }

.middle-content {
  grid-column: 2/3;
  grid-row: 2/3; }
