# client ignore files
.env

# dependencies
web/node_modules
web/.pnp
web/.pnp.js
web/.env

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# server ignore files

server/node_modules
server/.env
server/public

# dev dependencies
/node_modules
.gitignore