.drop {
	position: absolute;
	top: 5.5rem;
	right: 0;
	width: 28rem;
	background-color: $light-1;
	box-shadow: 0 2px 15px rgba(0,0,0,.2);
	z-index: 5000;
	padding: 0 .5rem;
	background: $light-1;
	height: 0;
	overflow: hidden;
	transition: all .4s ease-in;

	&--active {
		height: calc(100vh - 5.5rem);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem .4rem 0;
		margin-bottom: 1rem;
	}

	&__heading {
		font-size: 1.4rem;
		color: $black;
	}

	&--notification {
		height: calc(100vh - 5.4rem);
		display: block;
	}

	&--options {
		height: 50vh;
		display: block;
	}
}

.notification {
	display: flex;
	align-items: flex-start;
	text-decoration: none;
	padding: .6rem .4rem;
	background: $light-2;

	&__img-wrapper {
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
		position: relative;
		background: $light-2;
	}

	&__img {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: block;
		margin-right: 1rem;
	}

	&__icon {
		position: absolute;
		bottom: -.2rem;
		right: -.2rem;
		font-size: .8rem;
		height: 1.4rem;
		width: 1.4rem;
		border-radius: 50%;
		color: $light-1;
		@include flex-center;

		&--birthday {
			background: $red;
		}
	}

	&__details {
		flex: 1;
		line-height: 1.1rem;
		margin-left: .5rem;
	}

	&__text {
		font-size: 1.1rem;
		color: $grey-1;
		letter-spacing: .3px;
		margin-bottom: .5rem;

		&--unseen {
			color: $grey-1;
			font-weight: 600;
		}
	}

	&__time {
		margin-top: 0;
		font-size: 1rem;
		color: $grey-4;
		padding: 0;

		&--unseen {
			color: $grey-1;
			font-weight: 600;
		}
	}

	&--unseen {
		// height: 1rem;
		// width: 1rem;
		// border-radius: 50%;
		// background-color: $primary-color;
		background: $light-3;	
	}
}

.option {
	display: block;
	width: 100%;
}

