.introduction {
	padding: 1.5rem 1.5rem 1.2rem;
	max-width: 55rem;
	border-radius: 3px;
	background-color: $light-2;
	position: relative;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

	&--small {
		max-width: 50rem;
	}

   &__user {
   	display: block;
   	width: 4rem;
   	height: 4rem;
   	border-radius: 50%;
   	border: 2px solid $light-1;
   	box-sizing: content-box;
   	position: absolute;
   	left: -1.5rem;
   	top: -1.5rem;
   }

   &__toggle-heading {
   	position: absolute;
   	bottom: .5rem;
   	left: 1rem;
   	color: $grey-2;
   	cursor: pointer;
   	font-size: 1rem;
   	background: $light-3;
   	padding: .1rem .8rem;
   	border-radius: 1rem;
   }

   &__input {
   		display: block;
		overflow-y: hidden;
   		width: 100%;
		height: 3.8rem;
		font-size: 1.4rem;
		padding: 1rem 2rem;
		text-align: center;
		border: 1px solid transparent;
		background-color: $light-2;
		resize: none;
		font-family: Roboto;

   		&:focus {
         outline: none;
         border: 1px solid $light-2;
         background-color: $light-1;
      }

	    &::placeholder {
	       color: #ccc;
	       font-family: inherit;
	    }
   }

   &__btns {
   	display: flex;
   	width: 50%;
   	justify-content: flex-end;
   	position: absolute;
   	bottom: -1.3rem;
   	right: 1rem;
   	z-index: 5;
   }
}

.previews {

	&__heading {

	}

	&__previews {
		width: 100%;
		display: flex;
	}
}

.preview {
	border-radius: 3px;
	padding: .5rem 1rem;
	background: $light-2;
	width: max-content;
	display: flex;

	&:not(last-of-type) {
		margin-right: 1rem;
	}

	&__name {
		margin-right: .5rem;
	}

	&__icon {
		font-size: 1rem;
		cursor: pointer;
	}
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .8rem;
	background: transparent;
	@include flex-center;

	&__bar {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		background: repeating-linear-gradient(
		  45deg,
		  $primary-color,
		  $primary-color-light 10px,
		  $primary-color-light 10px,
		  $light-2 20px
		);
	}

	&__percent {	
		font-weight: 600;
		font-size: .8rem;
	}
}
