.navbar {
	@include flex-center-y;
	justify-content: space-between;
   height: 5.5rem;
   padding: 0 1rem;
   // border-bottom: 1px solid $light-3;
   box-shadow: $shadow-light;

   &__left {
      @include flex-center-y;
   }

   &__brand {
      height: 3rem;
      width: 3rem;
      display: inline-block;
      overflow: hidden;
      border-radius: 50%;
      background-color: $light-1;
      @include flex-center;
   }

   &__fb-logo {
      font-size: 3.35rem;
      color: $primary-color;
   }
   
   &__search {
      display: flex;
      align-items: center;
      width: 35rem;
   }
   
   &__search-input {
      @include box-shadow;
      border: none;
      outline: none;
      border-radius: 3rem;
      display: block;
      width: 27rem;
      padding: .8rem 2rem;
      transition: all .3s ease-in;
      background-color: $light-2;

      &:focus {
         outline: none;
         @include box-shadow-active;
         width: 35rem;
      }

      &::placeholder {
         color: #ccc;
      }
   }
   
   &__search-icon {
      color: #999;
      z-index: 10;
      font-size: 1.2rem;
      margin-left: -3rem;
   }


   &__middle {
      display: flex;
      justify-content: center;
      font-size: inherit;
      align-self: stretch;
      height: 100%;
      width: 10rem;
   }

   &__signout {
      background: transparent;
      border: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: $grey-1;

      &:hover {
         cursor: pointer;
      }
   }

   &__link {
      display: inline-block;
      text-decoration: none; 
      color: $grey-4;
      font-size: 1.6rem;



      &--home,
      &--users {
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         overflow: hidden;
      }

      &--home {
         margin-right: .5rem;
      }

      &--home::before,
      &--users::before {
         content: '';
         height: .3rem;
         width: 100%;
         z-index: 10;
         background-color: $primary-color;
         position: absolute;
         bottom: 0;
         transform: translateX(-100%);
         transition: all .2s ease-in-out; 
      }

      &--home:hover.navbar__link::before,
      &--users:hover.navbar__link::before {
         transform: translateX(0);
      }

      &--home:hover .navbar__fa-home,
      &--users:hover .navbar__fa-users {
         transform: scale(1.2);
      }

      &--active {
         color: $primary-color;
      }

      &:hover {
         color: $primary-color;
      }
      
      &--active::before {
         transform: translateX(0);
      }
   }

   
   &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   &__right > *{
      margin-left: 1.2rem;
   }

   &__user {
      height: 100%;
      display: flex;
      align-items: center;
   }

   &__img {
      width: 3rem;
      display: block;
      height: 3rem;
      border-radius: 50%;
   }

   &__fname {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: .7rem;
   }

   &__right > a {
      display: flex;
      height: 3rem;
      width: 3rem;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $light-2;
      position: relative;
      color: $grey-4;
   }
   
   &__right > a:hover {
      transform: scale(1.1);
   }
   
   &__float-number {
      position: absolute;
      color: $light-1;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background-color: rgba(250, 44, 44, 0.938);
      top: -1rem;
      right: 0;
      font-size: 1rem;
      // text-align: center;
      font-weight: 600;
      @include flex-center;
   }
}

.fa-caret-down {
   position: relative;
}






