.tabs {
	width: 100%;
	text-transform: uppercase;
	padding-left: .7rem;

	&__heading {
		color: $grey-3;
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 1.2rem;
	}

	&__group {

	}

	&__tab {
		display: block;
		width: 100%;
		text-decoration: none;
		font-size: 1.4rem;
		font-weight: 500;
		color: $grey-1;
		text-transform: capitalize;
		padding: .4rem 0;
		position: relative;

		&--active {
			// border-left: 3px solid $primary-color;
			color: $primary-color;
			// font-weight: 800;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: -1rem;
				height: 100%;
				width: 3px;
				background: $primary-color;
			}
		}
	}

	&__count {
		margin-left: .3rem;
	}
}

.birthdays {
	display: flex;
	align-items: center;

	&__img {
		width: 2.5rem;
		height: 2.5rem;
		border: 3px solid $light-1;
		border-radius: 50%;
		box-sizing: content-box;

		&:not(:first-child) {
			margin-left: -.8rem;
		}
	}

	&__count {
		font-weight: 600;
		margin-left: -.8rem;
		display: inline-block;
		background: rgba(0, 0, 0, .1);
		backdrop-filter: blur(10px);
		padding: .1rem .4rem;
		font-size: 8px;
	}

	&__none {
		font-size: 1.2rem;
		color: #777;
		text-transform: none;
	}
}

.page {
	display: flex;
	align-items: center;
	margin-top: .8rem;

	&__img {
		width: 2rem;
		height: 2rem;
	}

	&__name {
		text-transform: capitalize;
		font-size: 1.2rem;
		margin-left: .8rem;
		color: $grey-2;
		font-weight: 600;
	}
}






