@import "../../variables";

.share-post {
	width: 100%;
	position: relative;
	margin-top: 2rem;

	&__user {
		display: none;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid $light-1;
		box-sizing: content-box;
		position: absolute;
		left: -2.5rem;
		top: -2.5rem;
	}

	&__form {
	}

	&__input {
		display: block;
		overflow-y: hidden;
		width: 100%;
		font-size: 1.4rem;
		padding: 1rem 2rem;
		text-align: left;
		font-family: 'Helvetica';
		background-color: $white-color;
        outline: none;
        border: 1px solid transparent;
		border-bottom: 1px solid var(--light-3);

		&:focus {
			outline: none;
			border: 1px solid lighten($primary-color, 25%);
		}

		&::placeholder {
			color: #ccc;
			font-family: inherit;
		}
	}

	label {
		font-size: 1.4rem;
		font-weight: 500;
		color: var(--primary-color);
		margin-top: 2rem;
		margin-bottom: 1rem;
		display: inline-block;

		svg {
			margin-right: 1rem;
		}
	}

	
	&__progress {
		height: .5rem;
		width: 100%;
	}

	&__bar {
		background: var(--primary-color);
		height: 100%;
		width: 100%;
		animation: horizontalloading 2s linear infinite;
	}
	@keyframes horizontalloading {
		0% {
			transform: scaleX(0%);
			transform-origin: left;
		}
		50% {
			transform: scaleX(100%);
			transform-origin: left;
		}
		51% {
			transform-origin: right;
		}
		100% {
			transform: scaleX(0%);
			transform-origin: right;
		}
	}

    &__preview {
        flex: 1;
        margin-top: 1.5rem;
    }
}

.previews {
	flex: 1;

	&__heading {
		font-size: 1.4rem;
		font-weight: 400;
		font-family: 'Helvetica';
		margin-bottom: 2rem;
	}

	&__previews {
		width: 100%;
		display: flex;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 15rem;;
		grid-column-gap: 1.5rem;
	}

	&__more-count {
		font-size: 1.2rem;
		display: inline-block;
		margin-top: 1rem;
	}
}

.preview {
	border-radius: 3px;
	background: $light-2;
	overflow: hidden;
	position: relative;

	img {
		
	}

	&__name {
		margin-right: 0.5rem;
		font-weight: 400;
		font-size: 1.2rem;
	}

	&__icon {
		font-size: 1rem;
		cursor: pointer;
		position: absolute;
		top: 1.2rem;
		right: 1.2rem;
		color: var(--white-color);
	}
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0.8rem;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;

	&__bar {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		background: repeating-linear-gradient(
			45deg,
			$primary-color,
			$primary-color-light 10px,
			$primary-color-light 10px,
			$light-2 20px
		);
	}

	&__percent {
		font-weight: 600;
		font-size: 0.8rem;
	}
}
