@import "../../variables.scss";

.chat {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	background: transparent;
	cursor: pointer;


	&--active {
		background: var(--white-color);
		border-radius: .5rem;
	}

	&--unseen {
		background: darken($bg-light, 5%);
		border-radius: .5rem;
	}


	figure {
		height: 3.6rem;
		width: 3.6rem!important;
		border-radius: 50%;
		// overflow: hidden;
		position: relative;

		img {
			border-radius: 50%;
		}
	}

	.indicator {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 1.2rem;
		width: 1.2rem;
		background: var(--primary-color);
		z-index: 1;
		border-radius: 50%;
		border: 2px solid var(--bg-light);
	}

	&__content {
		// margin-left: 1rem;
		flex: 1;
		border-bottom: 1px solid var(--light-3);
		padding: 1rem;
	}

	&__user {
		font-size: 1.2rem;
		font-weight: 500;
		font-family: 'Poppins';
		margin-bottom: .2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__ago {
		font-size: 1rem;
	}

	&__text {
		font-size: 1.2rem;
		color: var(--grey-3);
		font-family: 'Montserrat';
		// font-weight: 300;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__count-new {
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--orange);
		height: 1.4rem;
		width: 1.4rem;
		border-radius: 50%;
		color: var(--light-2);
	}

}