.post {
	max-width: 50rem;
	margin: 0 auto;
	background-color: var(--white-color);
	display: flex;
	
	&:not(:last-of-type) {
		margin-bottom: 2rem;
	}

	&__left {
		margin-right: 1rem;
	}

	&__user-img {
		width: 3.8rem;
		height: 3.8rem;
		border-radius: 50%;
		display: block;
		overflow: hidden;
	}
	
	&__right {
		border: 1px solid #ddd;
		border-radius: 0 .6rem .6rem;
		padding: 1.5rem;
		padding-bottom: 0;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__heading {
		margin-right: auto;
		font-size: 1.4rem;
		font-family: var(--heading-font);
		color: var(--grey-1);
	}
	
	&__name {
		font-weight: 600;
		text-shadow: 0px 0px 1px rgba(0, 0, 0, .1);
	}

	&__follow {
		color: var(--gray-color);
		font-weight: 300;
	}

	&__time {
		font-weight: 400;
		color: var(--dark-gray-color);
		font-size: 1.1rem;
	}

	&__body {
		width: 100%;
	}

	&__media {
		height: 12rem;
		overflow: hidden;
		margin-top: 1rem;

		&--3 {
			display: grid;
			column-gap: 1rem;
			grid-template-columns: repeat(3, 1fr);
		}

		&--2 {
			display: grid;
			column-gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__image-wrapper {
		overflow: hidden;
		border-radius: .7rem;
		transition: all .25s ease;
	}

	&__image-wrapper:hover {
		filter: brightness(.95);
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	

	&__media-count {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.4rem;
		font-weight: 800;
		color: var(--white-color);
		display: inline-block;
		padding: 1rem;
		background: linear-gradient(
			to bottom right,
			rgba(var(--gray-color), 0.8),
			rgba(var(--primary-color), 0.8)
		);
		backdrop-filter: blur(10px);
	}

	&__description {
		margin-top: 1rem;
	}

	&__caption {
		font-size: 1.3rem;
		font-weight: 400;
		color: var(--grey-4);
		line-height: 2.2rem;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
		text-transform: capitalize;
	}

	&__show-more {
		color: var(--dark-gray-color);
		font-weight: 400;
	}

	&__footer {
		display: flex;
        align-items: center;
		font-size: 1.2rem;
        font-family: 'Helvetica';
		margin-top: 1rem;

		.reactions,
		.comments,
		.readmore {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&:not(:last-child) {
				border-right: 1px solid var(--light-3);
			}
		}

		svg {
            margin-right: .7rem;
            font-size: 1.6rem!important;
        }

        svg.active {
            fill: var(--red);
        }

        span {
            color: var(--grey-4);
			font-size: 1.3rem;
        }

        div {
            padding: 1rem 0;
			transition: all .3s ease-in-out;
			cursor: pointer;
        }

        div:hover {
            background: var(--bg-light);
        }
	}

	&__form-wrapper {
		display: flex;
		align-items: center;
		margin-top: 1.5rem;
	}

	&__comment-form {
		flex: 1;
		display: flex;
		align-items: center;
		border-radius: .7rem;
	}

	&__comment-input {
		flex: 1;
		padding: .8rem 1.2rem;
		border: 1px solid var(--light-3)!important;
		border-radius: .8rem;
        border: 1px solid transparent;
		font-family: inherit;

		&:focus {
			outline: none;
			background: var(--bg-light);
		}

        &::placeholder {
            color: var(--gray-color);
        }
	}

	&__comment-icon {
		padding: 0.6rem;
		color: var(--dark-gray-color);
	}

	&__action {
		margin-left: 1rem;
		height: 3rem;
		width: 3rem;
		display: inline-block;
		border-radius: 50%;
		font-size: 1.4rem;
		border: none;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&-icon--wow {
			font-size: 5rem;
			color: var(--yellow);
		}

		&-icon--angry {
			font-size: 5rem;
			color: var(--red);
		}

		&-icon--laugh {
			font-size: 5rem;
			color: var(--yellow);
		}

		&-gificon {
			max-height: 150%;
			max-width: 150%;
		}

		&--plane {
			color: var(--primary-color);
			transform: rotate(25deg);
		}

		&--unlike {
			background: var(--gray-color);
			color: var(--primary-color);
		}

		&--like {
			background-image: var(--primary-color);
			color: var(--white-color);
		}

		&--love {
			background: var(--red);
			color: var(--white-color);
		}

		&--laugh {
			background: #f5c542;
		}
		&--wow {
			background: #f5c542;
		}

		&--angry {
			background: var(--white-color);
		}

		// &--like {
		// 	background-image: var(--primary-color);
		// 	color: var(--white-color);
		// }
	}

	&__reaction-choices {
		position: absolute;
		top: -4rem;
		width: 15rem;
		display: none;
		opacity: 0;
		align-items: center;
		justify-content: space-between;
		transform: translateX(-35%);
		background: var(--light-2);
		border-radius: 5px;
		padding: 0.5rem 1rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		transition: all ease 0.5s;

		&--show {
			display: flex;
			opacity: 1;
		}
	}

	&__reaction-choice {
		font-size: 1.8rem;
		color: blue;
		transition: all 0.4s ease;

		&--like {
			color: var(--primary-color);
		}

		&--heart {
			color: var(--red);
		}

		&--laugh {
			color: var(--yellow);
		}

		&--wow {
			color: var(--yellow);
		}

		&--angry {
			color: var(--angry);
		}

		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}
}

.col-1-4 {
	grid-column: 1/4;
}

.col-1-5 {
	grid-column: 1/5;
}

.col-1-7 {
	grid-column: 1/7;
}

.col-4-7 {
	grid-column: 4/7;
}

.col-5-7 {
	grid-column: 5/7;
}

.row-1-2 {
	grid-row: 1/2;
}

.row-1-3 {
	grid-row: 1/3;
}

.row-2-3 {
	grid-row: 2/3;
}

.post__media--full {
	.col-1-4,
	.col-1-5,
	.col-1-7,
	.col-4-7,
	.col-5-7 {
		grid-column: 1/-1;
	}

	.row-1-2,
	.row-1-3,
	.row-2-3 {
		grid-row: auto / auto;
	}
}

.post__no-comment {
	font-size: 1.2rem;
	text-align: center;
}

.post__comments {
	padding: 1rem;
	margin: 0 auto;
	width: 95%;
}

.comment {
	display: grid;
	grid-template-columns: 3rem 1fr;

	&:not(last-child) {
		margin-bottom: 1rem;
	}

	&__commenter-image {
		display: block;
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
	}

	&__contents {
		background: var(--light-2);
		padding: 0.5rem 1.2rem;
		display: inline-block;
		min-width: 18rem;
		border-radius: 1.2rem;
		position: relative;
	}

	&__commenter-name {
		text-transform: capitalize;
		font-weight: 700;
		font-size: 1.1rem;
	}

	&__body {
		font-weight: 500;
		min-width: 5rem;
		margin-top: 0.2rem;
		font-size: 1.2rem;
	}

	&__actions {
		padding: 0 0.5rem;
		margin-top: 0.2rem;
		font-size: 1.1rem;
		font-weight: 600;
		display: flex;
		align-items: center;
	}

	&__btn {
		font-size: inherit;
		font-weight: inherit;
		border: none;
		background: transparent;
		cursor: pointer;
		padding: 0;
		margin-right: 1rem;

		&--like {
			color: var(--primary-color);
			font-weight: 800;
		}
		&--love {
			color: var(--red);
			font-weight: 800;
		}
		&--laugh,
		&--wow {
			color: var(--yellow);
			font-weight: 800;
		}
		&--angry {
			color: var(--angry);
			font-weight: 800;
		}
	}

	&__passby {
		font-size: 1rem;
	}

	&__view-all {
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--primary-color);
		display: block;
		margin: 0.6rem 0;
	}

	&__reactions {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(50%);
	}

	&__reactions-count {
		font-size: 1rem;
		font-weight: 800;
	}
}

.comment__replies {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.reply-preview {
	margin-left: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem;
	background: var(--light-2);

	&__img {
		height: 1.8rem;
		width: 1.8rem;
		border-radius: 50%;
		margin-right: 1rem;
	}

	&__reply {
		margin-left: 1rem;
	}
}
.replies {
	width: 100%;
	border-left: 1px solid #444;
}

.reply {
	width: 100%;
	display: flex;
	margin-top: 1rem;
	margin-left: 1rem;

	&__image {
		height: 2.4rem;
		width: 2.4rem;
		border-radius: 50%;
		margin-right: 1rem;
		overflow: hidden;
	}

	&__replier-image {
		object-fit: cover;
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	&__body-wrapper {

	}

	&__body {
		padding: 0.5rem;
		border-radius: 5px;
	}

	&__replier-name {
		color: var(--grey-1);
		font-size: 1rem;
	}

	&__reply {
		font-size: 1rem;
	}

	&__actions {
	}

	&__action {
	}
}

// &__footer-comment {
// 		display: flex;
// align-items: center;
// 	   // padding: 1rem 2rem 1.2rem;
// 	   padding: 1rem 1.5rem 2rem;
// 	   background-color: var(--light-2);
// 	}
