@import "../../variables.scss";

.main-container {
	display: grid;
	grid-template-columns: 22rem 1fr;
	grid-template-rows: $header-height auto;
	position: relative;
	background: var(--white-color);
}


.middle-content {
	grid-column: 2/3;
	grid-row: 2/3;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: minmax(0, 1fr);
	grid-column-gap: 2rem;
	background: url("../../assets/img/bgIMG.png");
	background-size: contain;
	background-repeat: repeat;
	min-height: 0;

	&--homepage {
		grid-column-gap: 4rem;
	}

	.fixed-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		// top: 0;
		// left: 0;
		// height: 100vh;
		background-size: contain;
		z-index: 1;
		// background-position: center center;
	}

}
