@import "../../variables";

.edit-profile {

	&__save-btn {
		border: none;
		border-radius: .6rem;
		background: var(--bg-light);
		font-family: 'Helvetica';
		font-size: 1.2rem;
		padding: .8rem 1.2rem;
		display: flex;
		align-items: center;
		margin-left: auto;
		transition: all .4s ease-in-out;
		cursor: pointer;

		svg {
			margin-right: 1rem;
			font-size: 1.2rem;
		}
	}

	&__save-btn:active {
		background: darken($bg-light, 5%);
	}
	&__save-btn:disabled {
		cursor: not-allowed;
	}

	h6 {
		font-size: 1.4rem;
		font-weight: 500;
		margin-bottom: 1rem;
		font-family: 'Helvetica';
		color: var(--black-color);
	}

	&__profile {
		display: flex;
		align-items: center;

		figure {
			height: 8rem;
			width: 8rem;
			border-radius: 50%;
			overflow: hidden;
		}

		div {
			margin-left: 1.5rem;
		}

		label {
			display: block;
			text-align: center;
			padding: .8rem 1.2rem;
			background: var(--primary-color);
			color: var(--white-color);
			border-radius: .4rem;
			cursor: pointer;
			transition: $transition;


			svg {
				vertical-align: middle;
				margin-right: .4rem;
			}
		}

		label.disabled {
			background: var(--bg-light);
			pointer-events: none;
			color: var(--gray-color);
		}

		label:nth-of-type(2) {
			color: var(--dark-gray-color);
			border: 1px solid var(--light-3);
			background: transparent;
			margin-top: .5rem;
		}

		label:nth-of-type(1):hover {
			background: darken($primary-color, 5%);
			color: var(--white-color);
		}

		label:nth-of-type(1):active {
			transform: scale(.92);
		}
	}

	textarea {
		resize: none;
		border: none;
		width: 100%;
		font-family: 'Helvetica';
		line-height: 2.2rem;
		font-size: 1.4rem;
		font-weight: 400;
		overflow: hidden;
		padding: 1rem;
		border: 1px solid var(--light-3);
	}

	textarea:focus {
		outline: none;
		border-color: var(--gray-color);
	}

	textarea[name="bio"] {
		margin-top: 1rem;
		display: block;
	}

	hr {
		margin: 2rem 0;
		border: 1px solid var(--light-3);
	}

	.form-group {
		margin-top: 1.2rem;

		label {
			display: block;
			margin-bottom: .6rem;
			font-weight: 500;
			font-family: 'Helvetica';
			font-size: 1.2rem;
		}

		input,select {
			font-family: Helvetica;
			font-size: 1.4rem;
			padding: .5rem 1rem;
			border: 1px solid var(--light-3);
			border-radius: .5rem;
			width: 30rem;
		}

		input:focus, select:focus {
			outline: none;
			border-color: var(--gray-color);
		}

	}

	fieldset {
		border: 1px solid var(--light-3);
		padding: 1rem;
		position: relative;
		margin-top: 4rem;
	}

	.legend {
		font-size: 1.4rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 1rem;
		transform: translateY(-50%);
		background: var(--white-color);
		padding: 0 1rem;

		svg {
			vertical-align: middle;
			margin-right: 1rem;
			font-size: 1.6rem;
		}
	}

	input:read-only, textarea:read-only {
		pointer-events: none;
	}
}