.sidebar {
    grid-column: 1/2;
	grid-row: 2/3;
	position: sticky;
	position: -webkit-sticky;
	// top: 5.5rem;
	align-self: start;
	height: calc(100vh - 5.5rem);


    &__links {
        width: 100%;
        margin-top: 6rem;
    }

    &__link-item {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    
    &__link {
        font-size: 1.4rem;
        color: var(--black-color);
        display: flex;
        align-items: center;
        transition: all .3s ease-in-out;
    }

    svg {
        font-size: 1.8rem;
        fill: var(--gray-color);
        padding: 0;
        margin-right: 1.5rem;
    }

    &__link:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }

    &__link--active {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }

    &__btn-wrapper {
        padding: 1.5rem;
        margin-top: 10rem;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 1rem;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
        border-radius: 3rem;
        box-shadow: none;
    }

    .btn--primary {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    .btn--outline {
        background-color: var(--white-color);
        color: var(--black-color);
    }
}