@import "../../variables";

.friend {
	display: flex;
	align-items: center;
	width: 28rem;
	border: none;
	// background: var(--bg-light);
	border-radius: .5rem;
	padding: 1rem 1rem;

    &--requests {
        width: 100%;
    }

	&:not(:last-child) {
		border-bottom: 1px solid var(--bg-light);
	}

	figure {
		height: 3.6rem;
		width: 3.6rem;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 1.5rem;
	}

	div {
		display: flex;
		flex-direction: column;
	}

	a {
		font-size: 1.3rem;
		font-weight: 500;
		color: var(--grey-1);
		display: inline-block;
		font-family: 'Helvetica';
	}

	a:hover {
		text-decoration: underline;
	}

	span:nth-child(2) {
		font-family: 'Helvetica';
		font-size: 1.1rem;
		font-weight: 300;
		color: var(--gray-color);
	}

	svg {
		margin-left: auto;
		transition: all .3s ease;
	}

	svg:hover {
		cursor: pointer;
		color: var(--primary-color);
	}

	button {
		border: none;
		background: none;
		font-family: 'Helvetica';
		font-size: 1.2rem;
		padding: .6rem 1rem;
		border-radius: 5rem;
		background: var(--bg-light);
		color: $primary-color;
		text-transform: capitalize;
		cursor: pointer;
		transition: all .3s ease;
		width: 9rem;
	}

    button:first-of-type {
        margin-left: auto;
        margin-right: 1.5rem;
    }

    button:nth-of-type(2) {
        background: white;
        color: var(--black-color);
        border: 1px solid var(--light-3);
    }

	button:active {
		transform: scale(.94);
	}

	button.sent {
		cursor: not-allowed;
		pointer-events: none;
	}

	button:hover {
		background: darken($bg-light, 2%);
	}

    button:nth-of-type(2):hover {
        background: var(--light-1);
    }

	button.loading {
		cursor: progress;
	}
}